html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/*Header with name */

body {
    margin: 0;
    padding: 0;
    background-color: palegoldenrod;
}

#header {
    width: 98vw;
    height: 10em;
    background-color: darkturquoise;
    margin-left: .5em;
    margin-right: .5em;
    padding: 0px;
    margin-top: -5em;
    
}

.name {
    margin:0em;
    padding: 0em;
}


#nameTag {
    color: white;
    font-family: 'abril fatface', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4.5em;
    text-align: right;
    padding-right: 1vw;
    padding-top: .75em;
    margin-top: 4vw;
    letter-spacing: .3rem;
}




/* Navigation */

.navbar {
    display: flex;
    list-style: none;
    /*width: 100vw;*/
    align-items: flex-end;
    margin-left: .5em;
    margin-right: .5em;
}

.navlist {
    /*align-content: flex-end;*/
    width: 98vw;
    background-color: paleturquoise;
    display: inline-flex;
    /*justify-content: space-between;*/
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    justify-content: space-between;
    padding: 1em;
}

.list-link:hover {
    color: lightseagreen;
    transition: .7s;

}

.list-link {
    text-decoration: none;
}

/*.list-link:visited {
    color: black;
}*/
.list-link:active {
    color: peru;
}

/* Middle image */

.image-container {
    display: block;
    width: 100vw;
    position: relative;
    width: 98vw;
}

.center-image {
    background-image: url('media/msPicture-cropped.png');
    display: flex;
    background-size: cover;
    margin-left: .5rem;
    width: 100%;
    height: calc(100vh - 8rem);
}

.image-text-box {
    display: flex;
    width:45em;
    height: 10rem;
    padding-top: 3rem;
    background-color: lightgray;
    border: 1px solid white;
    box-shadow: 10px 10px 5px white;
    border-radius: .5rem;
    opacity: .70;
    text-align: left;
    margin-left: 2rem;
    margin-top: 8rem;
}

.image-text-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    display: inline-flex;
    flex-direction: row;
    position:absolute;
    color: black;
    padding-left: .5rem;
    

}



/* Contact Me */

.contact-container {
    margin-left: -2rem;
    background-color: paleturquoise;
    margin-left: .5rem;
    margin-right: .9rem;
    margin-top: -1rem;

}


/* Footer */

.footer {
    margin-left: .9em;
    margin-right: .5em;    
}

/* Media queries */

@media only screen and (max-width: 400px){

    .image-text-box{

    display: flex;
    width: 80vw;
    height: 10vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: lightgray;
    border: 1px solid white;
    box-shadow: 10px 10px 5px white;
    border-radius: .5rem;
    opacity: .70;
    text-align: left;
    margin-left: 2rem;
    margin-top: 6rem;
        
    }

    .image-text-paragraph{
        font-size: 1rem;
        font-weight: normal;
    }

    
}